.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App ul, .App ul li{ list-style: none; list-style-type: none; margin: 0; padding: 0; } 
.App ul li{ margin: 0 1% 5px; cursor: pointer;} 
.App > ul > li{ width: 24%; display: inline-block; vertical-align: top; } 
.App ul li strong{ display: inline-block; width: 100%; padding: 10px; border: 1px solid #aaaaaa; background: #c2c2c2; transition: background .5s; } 
.App ul li:hover strong{ background-color: #efddbf;} 

.App ul ul{ display: block; padding: 5px; } 
.App ul li:hover ul{ display: block; } 

.add-product form{ background: #cce7c6; padding: 20px; width: 100%; margin: auto; }
.add-product form label{ display: inline-block; vertical-align: top; width: 15%; padding: 0 0 10px; }
.add-product form label span{ display: block; font-weight: bold; }
.add-product form input[type=text],.add-product form input[type=number]{ font-size: 14px; padding: 10px 25px; border: none; margin-top: 5px; border: 1px solid #aaaaaa;  }
.add-product form input[type=submit]{ 
  cursor: pointer;
  display: block; margin: auto; background-color: green; color: #fff; font-size: 14px; padding: 10px 25px; border: none; margin-top: 25px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
